<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <script src="../assets/js/bootstrap.min.js"></script>

</head>
<body>
<form>
<div class="container w-50">
    <h1> STUDENT DATABASE </h1>

    <table class="table  table-hover table-sm">
        <thead>
         <td>Id</td>
         <td>Name</td>
         <td>Image</td>
         <td>Password</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
  </thead>
        {% for loginstudent in login %}
        <tr>
            <td><a href="http://localhost:8000/login/{{loginstudent.stu_id}}">{{loginstudent.stu_id}}</a></td>
            <td>{{loginstudent.stu_name}}</td>
            <td><img src="static/images/{{loginstudent.stu_image}}.jpg" width="100" height="50" alt="{{loginstudent.stu_image}}" title="{{loginstudent.stu_image}}"></td>
            <td>{{loginstudent.stu_password}}</td>

        </tr>

        {% endfor %}
    </table>
     <a class="btn btn-success" href="/dashboard1">Next</a>
</div>
</form>
</body>
</html>