<div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mr-4"></i> Study Level
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item color-1" href="#">
          <span class="mr-4"></span> Foundation
        </a>

      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mr-4"></i> Study Level
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item color-1" href="#">
          <span class="mr-4"></span> Foundation
        </a>

      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mr-4"></i> Study Level
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item color-1" href="#">
          <span class="mr-4"></span> Foundation
        </a>

      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mr-4"></i> Study Level
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item color-1" href="#">
          <span class="mr-4"></span> Foundation
        </a>

      </div>
    </div>
  </div>